strategy:
  matrix:
    linux:
      imageName: 'ubuntu-16.04'
    mac:
      imageName: 'macos-10.13'
    windows:
      imageName: 'vs2017-win2016'

pool:
  vmImage: $(imageName)
    
variables:
    solution: '**/*.sln'

steps:
- task: NuGetToolInstaller@0

- task: DotNetCoreInstaller@0
  inputs:
    version: '2.2.103'

- task: NuGetCommand@2
  inputs:
    restoreSolution: '$(solution)'

- script: dotnet build 

- task: DotNetCoreCLI@2
  inputs:
    command: test
    projects: '**/PruebasUnitarias.csproj'