strategy:
  matrix:
    linux:
      imageName: 'ubuntu-16.04'
    mac:
      imageName: 'macos-10.13'
    windows:
      imageName: 'vs2017-win2016'

pool:
  vmImage: $(imageName)
    
variables:
    solution: '**/*.sln'
    buildPlatform: 'Any CPU'
    buildConfiguration: 'Release'

steps:
- task: NuGetToolInstaller@0

- task: DotNetCoreInstaller@0
  inputs:
    version: '2.1.503'

- task: NuGetCommand@2
  inputs:
    restoreSolution: '$(solution)'

- script: dotnet build -c '$(buildConfiguration)'

- task: DotNetCoreCLI@2
  inputs:
    command: test
    projects: '**/PruebasUnitarias.csproj'
    arguments: '--configuration $(buildConfiguration)'